<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877606470412-gjm7pk6nq13qnmh8b6824vhg3h4krju5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877606470412-gjm7pk6nq13qnmh8b6824vhg3h4krju5</string>
	<key>API_KEY</key>
	<string>AIzaSyBFSbVh0MEvtm4NukWoYsqqHYofkVDAahA</string>
	<key>GCM_SENDER_ID</key>
	<string>877606470412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopping</string>
	<key>PROJECT_ID</key>
	<string>shopping-f7bf1</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-f7bf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877606470412:ios:b986e7990d6b2a3b547f29</string>
</dict>
</plist>